<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052621496765-p2nadqe529uvqqiigium3iv04n6gtsn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052621496765-p2nadqe529uvqqiigium3iv04n6gtsn4</string>
	<key>API_KEY</key>
	<string>AIzaSyDtkra1oecCl_9foJVQql_e6zaIkCJPesg</string>
	<key>GCM_SENDER_ID</key>
	<string>1052621496765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungfindjob</string>
	<key>PROJECT_ID</key>
	<string>ungfindjob</string>
	<key>STORAGE_BUCKET</key>
	<string>ungfindjob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052621496765:ios:cc321eb285d6f9cbd6f2d4</string>
	<key>DATABASE_URL</key>
	<string>https://ungfindjob.firebaseio.com</string>
</dict>
</plist>